{% extends 'main/base.html' %}

{% block content %}
<h3>Home</h3>

<div id="introduction">
    <p>
        Hello! Welcome to <b>saga.ai!</b>. This is an AI powered website that will help you take control of your favorite stories!<br>
        Using <b>saga.ai</b> is very simple. Just click the create a new story button on this page or from the My Stories page,<br>
        choose whichever story you would like to interact with and the AI will guide you from there.<br>
        <br>
        This is is currently in the alpha-testing stage and you are one of the chosen people who's opinion I value greatly!<br>
        I plan to add a nice clean UI as well as more stories and some more functionality in due time.<br>
        If you are curious as to what features I have planned please check out the 'To Do List' tab in the navbar.<br>
        I have also included a contact tab, where there will be a feedback form as well as a text box for you to provide feedback
        I appreciate any and all feedback, as it will be very useful in helping me understand potential new features and aspects that
        I can implement to make the website more engaging.<br>

        <h2>Thank you for using saga.ai!!! I am very grateful for your support 😊</h2>
        <h4><i>-Aly</i></h4>
    </p>
</div>
{% endblock %}